<!-- importo el header del html que lo tengo en partials -->
<% include partials/header %>

<!-- importo el navbar que lo tengo en la carpeta partials -->
<% include partials/navbar %>

<div class="container-fluid edituser">
    <div class="container__centrado">
        <div class="row edituser__container">
            <div class="edituser__col">
                <h2 class="edituser__titulo">Editar Usuario</h2>

                <!-- usamos el metodo post para enviar los datos y actualizarlos y asi los cambio. -->
                <form action="/users/update/<%= results.id_user %>" method="post">
                    <div class="form-group">
                        <input class="edituser__texto" type="text" value="<%= results.name %>" name="name" />
                    </div>
                    <div class="form-group">
                        <input class="edituser__texto" type="text" value="<%= results.lastname %>" name="lastname" />
                    </div>
                    <div class="form-group">
                        <input class="edituser__texto" type="email" value="<%= results.email %>" name="email" />
                    </div>
                    <div class="form-group">
                        <input class="edituser__texto" type="password" value="<%= results.password %>"
                            name="password" />
                    </div>
                    <div class="form-group">
                        <input class="edituser__texto" type="text" value="<%= results.is_admin %>" name="is_admin" />
                    </div>
                    <button type="submit" class="btn edituser__button" value="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- importo el final del html que lo tengo en partials -->
<% include partials/bottom %>